@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer base { 
  /* List items */
  * {
    font-family: "Poppins", sans-serif;
  }
  

  /* Buttons */
  button[type="submit"] {
    @apply border bg-secondary w-2/4 py-2 rounded-full text-white text-sm shadow-sm text-center
 
  }

  input, textarea {
    @apply w-2/4 text-sm px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-secondary focus:border-secondary;
  }

  .text-xs {
    font-size: 12px;
  }
  .text-sm {
    font-size: 16px;
  }
  .text-md {
    font-size: 20px;
  }
  .text-lg {
    font-size: 24px;
  }
 
}  
